.storybook-button {
    font-family: sans-serif, Helvetica, Arial;
    font-weight: 300;
    border: 0;
    height: 57px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.storybook-button--primary {
    color: white;
    background-color: #f65261;
}

.storybook-button--secondary {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
}

.storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
}

.storybook-button--custom {
    font-size: 14px;
    padding: 12px 75px;
}
